<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Upload</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="container">
        <form action="/upload" method="post" enctype="multipart/form-data">
            <label for="frame_name">Frame Name:</label>
            <input type="text" id="frame_name" name="frame_name" required> 
            <div class="center-button">
                <br>
                <button type="submit">Upload</button>
                <br>
            </div>    
        </form>
        

        <input type="file" id="fileInput" accept="image/*" hidden>
        <div class="img-area" data-img="">
            <i class='bx bxs-cloud-upload icon'></i>
            <label for="fileInput">Upload Image</label>
            <img id="imagePreview" src="" alt="Image Preview">
        </div>
        
        <button class="select-image" onclick="document.getElementById('fileInput').click()">Select Image</button>

        

    </div>
	
    <hr>

    {% for frame_name, file_paths in file_paths.items() %}
    <h2>{{ frame_name }}</h2>
    {% for image_path in file_paths %}
    <img src="{{ image_path }}" alt="{{ frame_name }}">
    {% endfor %}
    <hr>
    {% endfor %}
    <script>
        // Function to handle image selection and preview
        document.getElementById('fileInput').addEventListener('change', function (event) {
            var fileInput = event.target;
            var imgPreview = document.getElementById('imagePreview');

            var file = fileInput.files[0];
            if (file) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    imgPreview.src = e.target.result;
                };
                reader.readAsDataURL(file);
            } else {
                imgPreview.src = ''; // Clear the image preview if no file is selected
            }
        });
    </script>
</body>
</html>