<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Wallpaper Display</title>
</head>
<body>
    <div class="content">
        <video autoplay loop muted plays-inline  class="background">
            <source src="{{ url_for('static', filename='bg_image/video1.mp4') }}" type="video/mp4">
        </video>
        <p id="current-time" > {{ current_time }} </p>
        <p id="current-date" > {{ current_date }} </p>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </div>
</body>
</html>