<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anta&display=swap" rel="stylesheet">
    <title>Video_Frame</title>
</head>

<body>
    <div class="content">
        <video autoplay loop muted plays-inline class="background" id="background-video">
            <source src="" type="video/mp4">
        </video>
        <div class="space"></div>
        <div class="glass-container">
            <p id="current-time"> {{ current_time }} </p>
            <p id="current-date"> {{ current_date }} </p>
        <script src="{{ url_for('static', filename='script.js') }}"></script>  
    </div>
    <p style="text-align: center;">Server IP: {{ server_ip }}</p>
    </div>
    <script>
        window.onload = function () {
            // Fetch latest video
            fetchVideo();
                    // Check if there is a signal to reload the page from localStorage
            if (localStorage.getItem('reload_page')) {
                // Remove the signal from localStorage to prevent redundant reloads
                localStorage.removeItem('reload_page');
                // Reload the page
                window.location.reload();
            }
        }
    
        function fetchVideo() {
            fetch('/latest_video')
                .then(response => response.json())
                .then(data => {
                    const videoSource = document.querySelector('video source');
                    if (data.latest_video) {
                        videoSource.src = "{{ url_for('static', filename='bg_video/') }}" + data.latest_video;
                    } else {
                        console.log("No video available.");
                    }
                    document.getElementById('background-video').load();
                })
                .catch(error => console.error('Error fetching latest video:', error));
        }
    </script>
</body>
</html>
